body{
    background-color: grey;

}
header , nav , main , footer {
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 20px;
}
header{
    background-color: lightskyblue;

}
nav{
    padding: 10px;

}
h1{
    text-align: center;
}